* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 300vh;
}

.header {
  position: fixed;
}

.menu {
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  border: 3px solid #ff0000;
  list-style-type: none;
}

.menu__btns {
  font-size: large;
  font-weight: bold;
  place-self: center;
}

.menu__btns:first-of-type img {
  width: 50%;
}

.menu__btns:nth-of-type(3),
.menu__btns:nth-of-type(7) {
  position: relative;
}

.menu__btns:nth-of-type(7) {
  color: blue;
}

.menu__badge--red,
.menu__badge--blue {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -10px;
}

.menu__badge--red {
  background-color: #ff0000;
}

.menu__badge--blue {
  background-color: blue;
}
